h1 {
  /* Format for the top of the page title */
  font: bold 24pt Helvetica;
  text-align: center;
  padding: 1em;
  background: #adadad; }

p {
  font: 12pt Helvetica; }

.container-sada {
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.search-window {
  /* window of what collection to find */
  padding: 1em; }

.results-window {
  /* window which displays the results of the search */
  font: normal 14pt Helvetica; }

.advanced-window {
  /* window which displays the results of the search */
  font: normal 14pt Helvetica;
  padding: 1em;
  border-style: double; }

select {
  /* for the combo box */
  border: 0;
  font: bold 16pt Helvetica;
  width: 30em;
  margin-left: 4em; }

button {
  /* for the button */
  font: 12pt Helvetica;
  width: 10em; }

th {
  padding-left: 7em; }

input {
  font: bold 16pt Helvetica;
  width: 30em; }

.invalid-warning {
  color: red; }

.borderless-table {
  width: 100%;
  font: bold 14pt Helvetica; }
  .borderless-table #input-column {
    width: 75%; }
  .borderless-table .password-row {
    height: 80px;
    min-width: 100px; }

/*for color coding the JSON message object */
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px; }

.string {
  color: green; }

.number {
  color: darkorange; }

.boolean {
  color: blue; }

.null {
  color: magenta; }

.key {
  color: red; }
