/* change this value to affect width of the login container and the fields */
.signup-container {
  max-width: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto; }

.form-group {
  max-width: 650px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto; }
  .form-group button {
    width: 100%; }

.borderless-table {
  width: 100%;
  font: bold 14pt Helvetica; }
  .borderless-table tr {
    height: 40px; }
  .borderless-table #space-column {
    width: 30px; }

#button-signup {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 50px;
  color: #ffffff;
  background-color: #72a0d5;
  border-color: #72a0d5; }
