@import "colors-style";

$login-container-width: 900px; /* change this value to affect width of the login container and the fields */
$login-fields-width: $login-container-width - 250;

@mixin page-center($width: $login-container-width){
	max-width: $width;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.signup-container {
	@include page-center;
}

.form-group {
	@include page-center($login-fields-width);

	button{
		width:100%;
	}
}

.borderless-table {
	width: 100%;
	font: bold 14pt Helvetica;

	tr {
		height: 40px;
	}

	#space-column {
		width: 30px;
	}
	
}

#button-signup {
	margin-top: 60px;
	margin-bottom: 60px;
	height: 50px;
	color: #ffffff;
	background-color: $livio-blue;
	border-color: $livio-blue;
}