
/* ************************************************** *
 * ******************** Angular UI Fixes
 * ************************************************** */

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	/*padding-top: 51px;   ?????*/
}
@media screen and (max-width: 768px) {
    body {
    	padding-top: 0px;
    }
}


/* ************************************************** *
 * ******************** Body & Containers
 * ************************************************** */

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#container {
  	min-height: 100%;
  	position: relative;
  	overflow-y: auto;
}


/* ************************************************** *
 * ******************** Navigation
 * ************************************************** */

/* Push everything below the navigation bar */
#navSpacer {
	margin-top: 60px;
}

/* ************************************************** *
 * ******************** Sub Navigation
 * ************************************************** */

.btn-back {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Sub navigation container */
#subnav {
	background-color: white;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -2%;
	margin-right: -2%;
	width: 104%;
}

/* Push everything below the sub navigation bar. */
.subnavBodyPadding {
	margin-top: 105px !important;
}

.btn-group-nav {
}

.btn-group-btn {
	height: 100%;
	font-size: 22px;
}

/* ************************************************** *
 * ******************** Alerts
 * ************************************************** */

/* Alerts container */
.alerts-group {
	/*margin-top: 105px;*/
	margin-bottom: 5px;
	text-align: center;
	font-size: x-large;
}

/* Every individual alert container. */
.alerts-group .alert {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Create a space between alerts. */
.alert+.alert {
	margin-top: 10px;
}

.alert .close {
	line-height: inherit;
	font-size: x-large;
	right: -15px;
	opacity: 1;
}

.alerts-group .btn {
	font-size: large !important;
}

/* ************************************************** *
 * ******************** Page
 * ************************************************** */

#body {
	padding:10px;
	padding-bottom: 203px;
}


/* ************************************************** *
 * ******************** Angular Toggle Switch
 * ************************************************** */

/* Fix the height of a switch in a form */
.form-toggle-switch {
	height: 34px;
}

/* ************************************************** *
 * ******************** Footer
 * ************************************************** */

/* Push the footer to the bottom */
#footer {
	position: absolute;
	bottom: 0;
	width:100%;
	height:203px;
	left: 0;
	right: 0;
	margin-bottom: 20px;
	padding-top: 20px;
}

/* Size of the footer seperator */
#footer .footer-seperator > img {
	height: 20px;
}

/* Footer body */
#footer .footer-body {
	height: 100%;
}

/* Footer body contents should be centered. */
#footer .footer-body > div {
	padding-top:10px;
	text-align: center;
	height: 100%;
}

/* Footer logo */
#footer .logo {
	width: 85.17px;
	height:83px;
}

/* Side by side footer link div */
#footer .footer-links {
	padding-top: 10px;
}

/* Side by side footer links */
#footer .footer-links a {
	padding-left: 8px;
	padding-right: 8px;
}



/* ************************************************** *
 * ******************** Login
 * ************************************************** */

/* Login container */
#login {
	max-width: 700px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#login .jumbotron {
	padding-top: 30px;
}

/* Login form size */
#login .form-group {
	max-width: 450px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#login .borderless-table {
	width: 100%;
}

#login .borderless-table #input-column {
	width: 75%;
}

/* Login button size */
#login .form-group button {
	width: 100%;
}

#login .borderless-table .password-row {
	height: 80px;
	min-width: 100px;
}


/* ************************************************** *
 * ******************** Users Page
 * ************************************************** */

/*
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 100%;
} */


/* ************************************************** *
 * ******************** Confirmation
 * ************************************************** */

.action-confirm {
	text-align: center;
	font-size: x-large !important;
	height: 71px;
    margin-top: -10px !important;
}

.action-confirm > span {
	padding-right: 10px;
	padding-bottom: 5px;
}

.action-confirm-btn {
	font-size: large !important;
}

.action-confirm .action-confirm-btn,
.action-confirm  span {
	vertical-align:middle
}

/* ************************************************** *
 * ******************** Sidebar
 * ************************************************** */

/* Sidebar navigation is displayed on a page with 
 * multiple forms, allowing you to navigate between
 * the forms.
 */


/* Make the sidebar list items take up the entire
 * width and height of the panel. */
.sidebar .panel-body {
	padding: 0px;
}

/* Center the text */
.sidebar ul {
	text-align: center;
}

/* For each sidebar list item. */
.sidebar ul li {
	margin-top: 0px;  /* Remove space from above the list item */
}

/* All buttons in the sidebar. */
.sidebar ul li button {
	width: 100%;
	border-radius: 0px;     /* Sqare buttons */
	font-size: 16px;
	font-weight: bold;
	height: 42px;
}

/* First button in the sidebar */
.sidebar ul>li button {
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; 			/* Round the top corners */
}

/* Last button in sidebar */
.sidebar ul li:last-child button {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px ; 			/* Round the bottom corners */
}

/* Plade a line between every item on the sidebar */
.sidebar li+li {
	border-top: 1px solid #EEE;
}


/* ************************************************** *
 * ******************** Pill Buttons
 * ************************************************** */

/* Pill buttons emulate bootstrap pill links.  This 
 * allows you to create navigation items with buttons.
 */

/* All pill buttons */
.btn.btn-pill {
  background-color: transparent;
  background-image: none;
  color: #428BCA;
  cursor: pointer;
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* Hover over all pill buttons */
.btn.btn-pill:hover {
  color: #005580;
  background-color: #EEE;
}

/* When focusing on a pill button */
.btn.btn-pill:focus,
.btn.btn-pill.focus {
	outline: none;
}

/* When a pill button is active. */
.btn.btn-pill:active,
.btn.btn-pill.active {
    background-color: #428BCA;
    color: #fff;
}

/* When a pill button is disabled */
.btn.btn-pill.disabled {
	color: #999;			/* Grey out the text */
}


/* ************************************************** *
 * ******************** App ?
 * ************************************************** */

.has-switch {
	height: 30px;
}

.applicationIcon {
	height: 30px;
	width: 30px;
    display:inline-block;
    vertical-align: middle;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.form-group .form-control-feedback {
	display: none;
	margin-right: 5px
}

.form-group.has-error .form-control-feedback {
	display: block;
	margin-right: 5px
}

/* ************************************************** *
 * ******************** User Page
 * ************************************************** */

#securityStatusForm .form-group > div {
	text-align:center;
}

#securityStatusForm .form-group div+div {
	text-align: left;
}

#securityStatusForm .form-group div+div > label {
	font-weight: normal;
}

/* ************************************************** *
 * ******************** Message Type
 * ************************************************** */

.table-form,
.table-form:hover {
    background-color: #eee !important;
}

