#policyUpdateResponseDiv {
    margin-top: 15px;
    visibility: hidden;
}

#policyUpdateRequestDiv {
    visibility: hidden;
}

#policyUpdateResponseDiv h1 {
    padding-bottom: 10px;
}

.method-post {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    height: 50px;
    font-size:20pt;
}

#policyUpdateResponseUrl {
    cursor: initial !important;
    background-color: #ffffff !important;
    opacity: 1 !important;
    height: 50px;
    font-size:20pt;
}

