<div class="messageType-container">
    <div ng-show="deleteLanguages && languageTable.selected.enabled && languageTable.selected.count <= 0" class="alert alert-warning action-confirm">
        <span>Select the languages to be deleted.</span>
    </div>

    <div ng-show="deleteLanguages && languageTable.selected.enabled && languageTable.selected.count > 0" class="alert alert-danger action-confirm">
        <span>Permanently delete the {{languageTable.selected.count}} selected language{{languageTable.selected.count > 1 ? 's' : ""}}? </span>
        <button type="button" class="btn btn-danger action-confirm-btn" ng-click="deleteSelected()">Confirm Delete</button>
    </div>


    <div ng-show="updateLanguagesStatus && languageTable.selected.enabled && languageTable.selected.count <= 0" class="alert alert-warning action-confirm">
        <span>Select the languages to be approve or disapprove.</span>
    </div>

    <div ng-show="updateLanguagesStatus && languageTable.selected.enabled && languageTable.selected.count > 0" class="alert alert-warning action-confirm">
        <span>Approve or disapprove the {{languageTable.selected.count}} selected language{{languageTable.selected.count > 1 ? 's' : ""}}? </span>
        <button type="button" class="btn btn-success action-confirm-btn" ng-click="approveSelected(true)">Approve</button>
        <button type="button" class="btn btn-danger action-confirm-btn" ng-click="approveSelected(false)">Disapprove</button>
    </div>


    <div class="row">

        <!-- Side Navigation -->
        <div class="col-sm-3 sidebar">
            <div>
                <button class="btn btn-danger btn-back" ng-click="goBackToUrl('/consumerFriendlyMessages/:id', 'messagesForm')"><i class="fa fa-mail-reply"></i>&nbsp;&nbsp;Go Back</button>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="form in messageType.forms" ng-class=""><button ng-class="{active : messageType.activeForm.id == form.id, disabled: messageType.isNew && form.isDisabledOnCreate}" class="btn btn-pill" ng-click="switchForm(form.id)">{{form.name}}</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Forms -->
        <div class="col-sm-9" ng-switch="messageType.activeForm.id">

            <!-- Info Form -->
            <form ng-switch-when="infoForm" name="infoForm" class="form-horizontal" role="form" novalidate>
                <div ng-init="setFormScope(infoForm, 'infoForm')" />

                <legend>{{messageType.item.key}} Info</legend>

                <!-- Name -->
                <div class="form-group" show-errors>
                    <label for="nameTxt" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" name="nameTxt" id="nameTxt" placeholder="Name of the message type" ng-model="messageType.item.key" />
                        <p class="help-block" ng-if="infoForm.nameTxt.$error.required">A name is required.</p>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="descriptionTxt" class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="descriptionTxt" placeholder="Description of the message type" ng-model="messageType.item.description"/>
                    </div>
                </div>


                <!-- Form Controls -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- Save -->
                        <button ng-disabled="infoForm.$pristine" ng-click="submit(infoForm);" class="btn btn-primary btn-default pull-left"><i class="fa fa-save"></i> Save</button>
                        <!-- Clear -->
                        <button ng-hide="infoForm.$pristine" ng-click="clearForm(infoForm)" class="btn btn-primary btn-default pull-right"> Clear Changes</button>
                    </div>
                </div>
            </form>


            <span ng-switch-when="languagesForm">

                <legend>{{messageType.item.key}} {{messageType.activeForm.name}}</legend>

                <div class="btn-group btn-group-justified btn-group-nav" style="margin-bottom: 10px;">
                    <div class="btn-group">
                        <button ng-if="! showCreateNewLanguageForm" ng-click="toggleCreateLanguage()" class="btn btn-success"><i class="fa fa-plus"/>&nbsp;&nbsp;New Language</button>
                        <button ng-if="showCreateNewLanguageForm" ng-click="toggleCreateLanguage()" class="btn btn-success"><i class="fa fa-rotate-right"/>&nbsp;&nbsp;Clear Changes</button>
                    </div>
                    <div class="btn-group">
                        <button ng-if="! updateLanguagesStatus" ng-click="selectAndUpdateStatus()" class="btn btn-primary"><i class="fa fa-check"/>&nbsp;&nbsp;Update Status</button>
                        <button ng-if="updateLanguagesStatus" ng-click="selectAndUpdateStatus()" class="btn btn-primary"><i class="fa fa-rotate-right"/>&nbsp;&nbsp;Cancel</button>
                    </div>
                    <div class="btn-group">
                        <button ng-if="! deleteLanguages" ng-click="selectAndDelete()" class="btn btn-danger"><i class="fa fa-times"/>&nbsp;&nbsp;Delete Languages</button>
                        <button ng-if="deleteLanguages" ng-click="selectAndDelete()" class="btn btn-danger"><i class="fa fa-rotate-right"/>&nbsp;&nbsp;Cancel</button>
                    </div>
                </div>


                <!-- Create New Language -->
                <form ng-if="showCreateNewLanguageForm" name="createLanguageForm" class="form-horizontal table-form" role="form" style="padding-top: 10px; padding-bottom: 10px;" novalidate>

                    <!-- Status -->
                    <div class="form-group">
                        <label for="approvedSwitch" class="col-sm-2 control-label">Approved:</label>
                        <div class="col-sm-10" style="text-align: left">
                            <toggle-switch id="approvedSwitch" ng-click="setCurrentFormDirty()" class="form-toggle-switch" model="language.enabled"></toggle-switch>
                        </div>
                    </div>

                    <!-- Code -->
                    <div class="form-group" show-errors>
                        <label for="codeTxt" class="col-sm-2 control-label">Code:</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" name="codeTxt" id="codeTxt" placeholder="Enter a codes like this language-location.  e.g. en-us of English and United States" ng-model="language.key" />
                            <p class="help-block" ng-if="languageForm.codeTxt.$error.required">A language code is required.</p>
                        </div>
                    </div>

                    <!-- TTS -->
                    <div class="form-group">
                        <label for="ttsTxt" class="col-sm-2 control-label">TTS:</label>
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" name="ttsTxt" id="ttsTxt" placeholder="Text to speech" ng-model="language.tts"/>
                        </div>
                    </div>

                    <!-- Lines -->
                    <div ng-repeat="line in language.lines track by $index" class="form-group">
                        <label for="line{{$index+1}}" class="col-sm-2 control-label">Line {{$index+1}}:</label>
                        <div class="col-sm-10">
                            <div class=" input-group">
                                <input required type="text" class="form-control" name="line{{$index+1}}" id="line{{$index+1}}" placeholder="Enter text to display on line {{$index+1}}" ng-model="language.lines[$index]" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" ng-click="deleteLine(item, $index);">&nbsp;<i class="fa fa-times"/></button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <!-- Add Line Button -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button ng-click="addLine('');" class="btn btn-primary btn-default pull-left"><i class="fa fa-plus" /> Add Line</button>
                        </div>
                    </div>

                    <!-- Form Controls -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!-- Save -->
                            <button ng-disabled="createLanguageForm.$pristine" ng-click="saveLanguage(language);" class="btn btn-primary btn-default pull-left"><i class="fa fa-save"/> Save</button>
                        </div>
                    </div>

                    <div ng-init="setFormScope(createLanguageForm, 'createLanguageForm')" />
                </form>


                <!-- Messages Form -->
                <form name="languagesForm" class="form-horizontal" role="form" novalidate>

                    <table ng-table="languageTable.ngTableParams" class="table table-hover table-livio ng-table-rowselected">
                        <tbody ng-repeat="item in $data">
                            <tr ng-click="selectItem(item)" ng-class="{'active': item.selected && languageTable.selected.enabled}">

                                <!-- Select All in Header -->
                                <td header="'ng-table/headers/checkbox.html'" ng-show="languageTable.selected.enabled" class="">
                                    <input type="checkbox" ng-model="item.selectedCheckbox" name="selected" />
                                </td>

                                <!-- Language -->
                                <td data-title="'Language'" sortable="'language'" filter="{'language': 'text'}">
                                    {{item.language}}
                                </td>

                                <!-- Country -->
                                <td data-title="'Country'" sortable="'country'" filter="{'country': 'text'}">
                                    {{item.country}}
                                </td>

                                <!-- Code -->
                                <td data-title="'Code'" sortable="'key'" filter="{'key': 'text'}">
                                    {{item.key}}
                                </td>

                                <!-- Status -->
                                <td data-title="'Status'" sortable="'enabled'" filter="{'enabled': 'select'}" filter-data="statusFilterOptions($column)">
                                    <span class="label" ng-class="{'label-success' : item.enabled, 'label-danger' : ! item.enabled}">
                                      {{item.enabled | iff:"Approved":"Not Approved"}}
                                    </span>
                                </td>

                                <!-- Controls -->
                                <td data-title="'Controls'">
                                    <button type="button" class="btn btn-primary" ng-click="toggleEditLanguage(item)"><i class="fa" ng-class="{'fa-pencil-square-o': item['_id'] !== language['_id'], 'fa-rotate-right':item['_id'] == language['_id']}"/>&nbsp;&nbsp;{{item['_id'] === language['_id'] | iff:"Clear":"Edit"}}</button>
                                </td>
                            </tr>
                            <tr ng-if="item._id === language._id">
                                <td colspan=6 align="center" class="table-form" >
                                    <!-- Info Form -->
                                    <form name="languageForm" class="form-horizontal" role="form" novalidate>


                                        <!-- Status -->
                                        <div class="form-group">
                                            <label for="approvedSwitch" class="col-sm-2 control-label">Approved:</label>
                                            <div class="col-sm-10" style="text-align: left">
                                                <toggle-switch id="approvedSwitch" ng-click="setCurrentFormDirty()" class="form-toggle-switch" model="language.enabled"></toggle-switch>
                                            </div>
                                        </div>

                                        <!-- Code -->
                                        <div class="form-group" show-errors>
                                            <label for="codeTxt" class="col-sm-2 control-label">Code:</label>
                                            <div class="col-sm-10">
                                                <input required type="text" class="form-control" name="codeTxt" id="codeTxt" placeholder="Enter a codes like this language-location.  e.g. en-us of English and United States" ng-model="language.key" />
                                                <p class="help-block" ng-if="languageForm.codeTxt.$error.required">A language code is required.</p>
                                            </div>
                                        </div>

                                        <!-- TTS -->
                                        <div class="form-group">
                                            <label for="ttsTxt" class="col-sm-2 control-label">TTS:</label>
                                            <div class="col-sm-10">
                                                <textarea rows="4" class="form-control" name="ttsTxt" id="ttsTxt" placeholder="Text to speech" ng-model="language.tts"/>
                                            </div>
                                        </div>

                                        <!-- Lines -->
                                        <div ng-repeat="line in language.lines track by $index" class="form-group">
                                            <label for="line{{$index+1}}" class="col-sm-2 control-label">Line {{$index+1}}:</label>
                                            <div class="col-sm-10">
                                                <div class=" input-group">
                                                    <input required type="text" class="form-control" name="line{{$index+1}}" id="line{{$index+1}}" placeholder="Enter text to display on line {{$index+1}}" ng-model="language.lines[$index]" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-danger" type="button" ng-click="deleteLine(item, $index);">&nbsp;<i class="fa fa-times"/></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Add Line Button -->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <button ng-click="addLine('');" class="btn btn-primary btn-default pull-left"><i class="fa fa-plus" /> Add Line</button>
                                            </div>
                                        </div>

                                        <!-- Form Controls -->
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <!-- Save -->
                                                <button ng-disabled="languagesForm.$pristine" ng-click="saveLanguage(language);" class="btn btn-primary btn-default pull-left"><i class="fa fa-save"/> Save</button>
                                            </div>
                                        </div>
                                        <div ng-init="setFormScope(languagesForm, 'languagesForm')" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <!-- Template for Select All in Header -->
                    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                        <input id="selectAllItemsCheckbox" type="checkbox" ng-model="languageTable.selected.isAllCheckbox" ng-click="selectAllItems()" />
                    </script>
                </form>
            </span>
        </div>
    </div>
</div>
