doctype html
html(lang 'en')
  head
    title SmartDeviceLink Server

    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')

    block allStylesheets
      link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
      link(href="/highlightjs/styles/default.css", rel="stylesheet")
      link(href="main.css", rel="stylesheet")
    block stylesheets

  body
    nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
      .container
          .div(class="navbar-header")
            a(class="navbar-brand", href="#") SDL Server

    block page

    block allScripts
      script(src="jquery/dist/jquery.min.js")
      script(src="bootstrap/dist/js/bootstrap.min.js")
      script(src="highlightjs/highlight.pack.min.js")
    block scripts