<div class="vehicles-container table-responsive">

  <div ng-show="vehiclesTable.selected.enabled && vehiclesTable.selected.count <= 0" class="alert alert-warning action-confirm">
    <span>Select the vehicles to be deleted.</span>
  </div>

  <div ng-show="vehiclesTable.selected.enabled && vehiclesTable.selected.count > 0" class="alert alert-danger action-confirm">
    <span>Permanently delete the {{vehiclesTable.selected.count}} selected vehicle{{vehiclesTable.selected.count > 1 ? 's' : ""}}? </span>
    <button type="button" class="btn btn-danger action-confirm-btn" ng-click="deleteSelected()">Confirm Delete</button>
  </div>

  <table ng-table="vehiclesTable.ngTableParams" class="table table-hover table-livio ng-table-rowselected">
    <tr ng-repeat="vehicle in $data" ng-click="selectItem(vehicle)" ng-class="{'active': vehicle.selected && vehiclesTable.selected.enabled}">

      <!-- Select All in Header -->
      <td header="'ng-table/headers/checkbox.html'" ng-show="vehiclesTable.selected.enabled" class="">
        <input type="checkbox" ng-model="vehicle.selectedCheckbox" name="selected"></input>
      </td>

      <!--Vin -->
      <td data-title="'Vin'" sortable="'vin'" filter="{'vin': 'text'}">
        <a href="/cars/{{vehicle._id}}">
          <span>{{vehicle.vin}}</span>
        </a>
      </td>



      <!-- Make -->
      <td data-title="'Make'" sortable="'make'" filter="{ 'make': 'text' }">
        {{vehicle.make}}
      </td>

      <!-- Model -->
      <td data-title="'Model'" sortable="'model'" filter="{ 'model': 'text' }">
        {{vehicle.model}}
      </td>

      <!-- Make -->
      <td data-title="'Year'" sortable="'year'" filter="{ 'year': 'text' }">
        {{vehicle.year}}
      </td>
    </tr>
  </table>

  <!-- Template for Select All in Header -->
  <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input id="selectAllItemsCheckbox" type="checkbox" ng-model="vehiclesTable.selected.isAllCheckbox" ng-click="selectAllItems()"></input>
    </script>
</div>
