<div class="users-container table-responsive">

  <div ng-show="usersTable.selected.enabled && usersTable.selected.count <= 0" class="alert alert-warning action-confirm">
    <span>Select the users to be deleted.</span>
  </div>

  <div ng-show="usersTable.selected.enabled && usersTable.selected.count > 0" class="alert alert-danger action-confirm">
    <span>Permanently delete the {{usersTable.selected.count}} selected user{{usersTable.selected.count > 1 ? 's' : ""}}? </span>
    <button type="button" class="btn btn-danger action-confirm-btn" ng-click="deleteSelected()">Confirm Delete</button>
  </div>

  <table ng-table="usersTable.ngTableParams" class="table table-hover table-livio ng-table-rowselected">
    <tr ng-repeat="user in $data" ng-click="selectItem(user)" ng-class="{'active': user.selected && usersTable.selected.enabled}">
      
      <!-- Select All in Header -->
      <td header="'ng-table/headers/checkbox.html'" ng-show="usersTable.selected.enabled" class="">
        <input type="checkbox" ng-model="user.selectedCheckbox" name="selected"></input>
      </td>
      
      <!-- Name -->
      <td data-title="'Name'" sortable="'fullName'" filter="{'fullName': 'text'}">
        <a ui-sref="user({ id: user._id })">{{user.fullName}}</a>
      </td>
      
      <!-- Email -->
      <td data-title="'Email'" sortable="'email'" filter="{'email': 'text'}">
        {{user.email}}
      </td>

      <!-- Roles -->
      <td data-title="'Roles'" sortable="'roles'" filter="{'roles': 'text'}">
        {{user.roles}}
      </td>     
         
      <!-- Status -->
      <td data-title="'Status'" sortable="'status'" filter="{'status': 'select'}" filter-data="statusFilterOptions($column)">
        <span class="label" ng-class="{'label-success' : user.activated, 'label-danger' : ! user.activated}">
          {{user.status}}
        </span>
      </td>
    </tr>
  </table>

  <!-- Template for Select All in Header -->
  <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input id="selectAllItemsCheckbox" type="checkbox" ng-model="usersTable.selected.isAllCheckbox" ng-click="selectAllItems()"></input>
    </script>
</div>
