extends layouts/layout
block stylesheets
  link(href="policy.css", rel="stylesheet")

block page
  .container
    .row
      .col-lg-12
        .jumbotron
          h1 Policy Update Request
          p In a policy update request SDL Core sends a JSON policy table to an SDL server and an updated JSON policy table is returned.  You can perform an example policy update request by clicking the button below.
          .p
            a(class="btn btn-primary btn-lg", href="#", role="button", onclick="performPolicyUpdateRequest()") Perform Request

    .row(id="policyUpdateRequestDiv")
      .col-lg-12
        h1 Request to SDL Server
        .row
          .col-lg-12
            .input-group
              span.input-group-addon.method-post POST
              input.form-control(id="policyUpdateResponseUrl", type="text", disabled)
        br
        .row
          .col-lg-12
            pre
              code(id="policyUpdateRequestBody")

    .row(id="policyUpdateResponseDiv")
      .col-lg-12
        h1 SDL Server Response
        pre
          code.javascript(id="policyUpdateResponse")


block scripts
  script(src="policy.js")
