<!-- Login Page Container -->
<div id="login">

	<!-- Login Form -->
	<form name="loginForm" ng-submit="signIn(credentials)" novalidate>
		<div class="jumbotron">
			
			<h2><center>Log in</center></h2>
			
			<br>
			
			<!-- Login Input -->
			<div class="form-group">
				<table class="borderless-table">
					
					<!-- Username -->
					<tr class="username-row">
						<td><label for="username">Email</label></td>
						<td id="input-column"><input type="text" id="username" class="form-control" ng-model="credentials.username"></td>
					</tr>

					<!-- Password -->
					<tr class="password-row">
						<td><label for="password">Password</label></td>
						<td id="input-column"><input type="password" id="password" class="form-control" ng-model="credentials.password"> </td>
					</tr>

				</table>

				<!-- Submit -->
				<button type="submit" id="loginBtn" class="btn btn-lg btn-primary btn-block sign-in">Login</button>
			</div>
		</div>
	</form>
</div>